/* Write your CSS here */
.app_container {
  background-color: #1e293b;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.heading {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 40px;
}
.description {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: 200;
  font-size: 30px;
}
.button {
  background-color: #ffffff;
  color: #1e293b;
  border-radius: 7px;
  height: 40px;
  width: 100px;
}
